body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
  color: #fafafa;
}

h3,
h5 {
  text-align: center;
}

p {
  text-align: justify;
}

form {
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  background-color: #f9f9f9;
  max-width: 25em;
  margin: 2px auto;
  padding: 2em;
}

#styledform {
  margin: 3em auto;
  padding: 2em;
}

.ant-table .ant-table-thead>tr>th {
  text-align: center;
}

#errorPage {
  margin-top: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#errorPage p {
  color: rgb(22, 119, 255);
}

.ant-form-item-label {
  width: 160px;
}

.container {
  width: 420px;
}

.container.has-image {
  width: 800px;
}

.ant-upload-drag-icon,
.ant-upload-text {
  text-align: center;
}

.ant-upload-wrapper {
  text-align: center;
  width: 500px;
  height: 300px;
}

.ant-typography {
  margin-top: 0;
  padding-bottom: 2px;
}

.no-image {
  max-width: 30em;
}

.has-image {
  max-width: 60em;
}